<!DOCTYPE html>
<html>
    <head>
        <title>Katra</title>
        <link rel="stylesheet" href="src/templates/styles/style.css">
    </head>
    <body style="background-color: #1f1f1f;">
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/problemsets">Problemsets</a>
            <a href="/faq">FAQ</a>
            <a href="/rank">Leaderboard</a>
            <a href="/users/" class="right">Profile</a>
        </div>
        <div id="faq-content">
            <h1>FAQ</h1>
        </div>
        <div id="faq-div">
            <h3>What is this site for?</h3>
            <p></p>
        </div>
    </body>
</html>