body {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topnav a.right {
    float: right;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#content {
    margin-top: 60px;
}

#faq-content {
    margin-top: 60px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#faq-div {
    border-radius: 25px;
    padding: 15px;
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    min-height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
}